.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 12px 12px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}

.container-navigation h1 {
  font-family: "Manrope", sans-serif;
  letter-spacing: -1px;
  color: #96000a;
  margin: 0 2rem 0 0;
}

.container-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* height: 100%; */
  gap: 20px;
}

.container-features {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;

  margin: 0;
  gap: 20px;
}
