.nav {
  text-decoration: none;
}

.nav-btn {
  background-color: transparent;
  color: rgb(0, 0, 0, 0.6);
  padding: 4px;
  font-weight: 600;
  font-size: large;
}

.nav-btn:hover {
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  font-weight: bolder;
}

.nav-btn-active {
  color: #96000a;
  padding: 4px;
  border-bottom: #96000a solid 2px;
}
